Repository mateusjbarbosa/my-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier, pnpm lint

.lintstagedrc.json:

{
  "*.{json,md,html,tsx}": "pnpm prettier",
  "*.{js,ts,tsx}": "pnpm lint"
}

style: linted files
  jest.config.ts
  tailwind.config.js
Due: pnpm lint

chore: add commitlint husky step
  .husky/pre-commit
Due: none

docs: update README.md
  README.md
Due: pnpm prettier

chore: update lint-staged
  .lintstagedrc.json
Due: pnpm prettier

chore: create test scripts
  .lintstagedrc.json
  package.json
Due: pnpm prettier

style: change counter component css
  .lintstagedrc.json
  jest.config.ts
  src/components/Counter/index.spec.tsx
  src/components/Counter/index.tsx
Due: pnpm prettier, pnpm lint

chore: change scripts format
  package.json
Due: pnpm prettier

ci: add main workflow
  .github/workflows/main.yml
Due: none

chore: configure vite base url
  vite.config.ts
Due: pnpm lint

ci: remove node cache on set up step
  .github/workflows/main.yml
Due: none

ci: change install deps command
  .github/workflows/main.yml
Due: none

docs: updated README.md
  README.md
Due: pnpm prettier

chore: bump dependencies version
  package.json
  pnpm-lock.yaml
Due: pnpm prettier

chore: update vite base url
  vite.config.ts
Due: pnpm lint

Revert "chore: update vite base url"
  vite.config.ts
Due: pnpm lint

chore: update package name, version and deps version
  package.json
  pnpm-lock.yaml
Due: pnpm prettier

chore: add changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier

chore: remove changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier
